[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
threaded-async = {editable = true, path = "."}

[dev-packages]
pylint = ">=3.2.6"
mypy = ">=1.10.1"

[requires]
python_version = "3.8"
